/* .sidebarLabelContainer {
  display: flex;
  align-items: center; 
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

/* .sidebarLabelContainer input {
  display: none;
}  */

/* .checkmark {
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
  display: inline-block;
}

.sidebarLabelContainer input:checked + .checkmark {
  background-color: #555;
} */ 

/* .sidebarInput{
 margin-right: 8px;
 flex-shrink: 0;
} */

/* .sidebarLabelContainer {
    display: flex;
  align-items: center; 
  margin-bottom: 10px;
} */

.sidebarInput{
  margin-right: 8px;
  vertical-align: middle;
}

.sidebarLabelContainer {
    display: block;  /* Each label on its own line */
    color: #654321;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold; 
}

.sidebarLabelContainer:hover {
  background-color: #DEB887;
  color: #241714; 
  font-weight: bold;
}


.sidebarLabelContainer:hover:has(.sidebarInput:checked) {
  color: #1d1310;
}



