.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.cardContainer{
  margin-left: 250px;
  padding: 20px;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .cardContainer {
    margin-left: 0;
    padding: 5px;
    justify-content: center;
    gap: 15px;
  }
}