/* Card component */
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  max-width: 250px;
  background-color: #e0e0e0;
}

.card:hover {  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.cardWeight {
  font-size: 0.85rem;
  color: #666;
}
.cardPrice {
  margin-top: 4px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.cardDescription {  
  font-size: 0.85rem;
  color: #555;
  line-height: 1.4;
  margin-top: 8px;
  text-align: justify;
}

.cardDescription p {  
  margin: 0;
  display: -webkit-box;  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-size: 1rem;
  font-weight: 700;
}

.cardCategory { 
  margin-top: 8px;
}

.cardCategory p {  
  font-size: 0.75rem;
  color: #888;
  text-transform: capitalize;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 768px) {
  .cardContainer {
    margin-left: 0;
    margin-top: 1rem;
    justify-content: center;
  }

  .card {
    max-width: calc(100vw - 40px);
     width: 100%;
    margin: 10px auto;
  }

  .cardImg {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


}


